.outer-box{
    width:600px;
    height: 500px;
    background: rebeccapurple;
    padding:10px;
}
.box1{
    width:40%;
    height:30%;
    background: royalblue;
    float:left;
    margin: 10px;
}
.box2{
    width:40%;
    height:30%;
    background:yellow;
    float:left;
    margin: 10px;
}
.box3{
    width:40%;
    height:30%;
    background: cyan;
    float:left;
    margin: 10px;
}
.box4{
    width:40%;
    height:30%;
    background: goldenrod;
    float:left;
    margin: 10px;
}